body {
  background-color: tan;
}

h1 {
  margin :10px;
  border: 20px;
  padding: 15px;
  background-color: lavender;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h1-header {
  margin: 15px;
  border: 10px black;
  padding: 20px;
  background-color: lavender;
  text-align: center;
}
#language1-hidden {
  display: none;
}

#language2-hidden {
  display: none;
}

#language3-hidden {
  display: none;
}